<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.terefal.pdfaireader">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.PDFaiReader"
        android:pageSizeCompat="narrow">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PdfReaderActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
    </application>

</manifest>